/* header */
.Header_Container {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 30px;
  background-color: white;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.Header-Logo-Wrap {
  width: 20%;
}

.Desktop-Menu {
  width: 40%;
  display: none;
}

.Desktop-Menu .MenuItems_Wrapper {
  display: flex;
  column-gap: 66px;
}

.Header-Logo-Wrap img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.UserButtons {
  display: flex;
  width: 40%;
  justify-content: end;
  gap: 15px;
}

.UserButtons button {
  cursor: pointer;
}

.UserButtons svg {
  width: 30px; 
  height: auto;
}

@media (width >= 768px) {
  .Header-Logo-Wrap img {
    width: 250px;
  }
}

@media (width >= 1024px) {
  .Desktop-Menu {
    display: block;
  }
}